<!-- templates/layout.html -->
<html layout:decorate="~{layout}">
  <!-- templates/board_list.html -->
  <div layout:fragment="content" class="container my-3">
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th>번호</th>
          <th>제목</th>
          <th>글쓴이</th>
          <th>작성시간</th>
          <th>조회수</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="board : ${boardList}">
          <td th:text="${board.boardSequence}"></td>
          <td>
            <a
              th:href="@{|/board/${board.id}|}"
              th:text="${board.boardTitle}"
            ></a>
          </td>
          <td th:text="${board.boardWriter}"></td>
          <td
            th:text="*{#temporals.format(board.createdTime, 'yyyy-MM-dd HH:mm')}"
          ></td>
          <td th:text="${board.boardHits}"></td>
        </tr>
      </tbody>
    </table>
    <a th:href="@{/board/write}" class="btn btn-success">글쓰기</a>
  </div>
</html>
