<!-- templates/layout.html -->
<html layout:decorate="~{layout}">
  <!-- templates/board_list.html -->
  <div layout:fragment="content" class="container my-3">
    <table class="table">
      <thead class="table-dark">
        <tr>
          <th>번호</th>
          <th>제목</th>
          <th>글쓴이</th>
          <th>작성시간</th>
          <th>조회수</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="board : ${boardList}">
          <td th:text="${board.boardSequence}"></td>
          <td>
            <a
              th:href="@{|/board/${type}/${board.boardSequence}|(page=${boardList.number + 1})}"
              th:text="${board.boardTitle}"
            ></a>
          </td>
          <td th:text="${board.boardWriter}"></td>
          <td
            th:text="*{#temporals.format(board.createdTime, 'yyyy-MM-dd HH:mm')}"
          ></td>
          <td th:text="${board.boardHits}"></td>
        </tr>
      </tbody>
    </table>
    <!-- Paging -->
    <div th:if="${!boardList.isEmpty()}">
      <ul class="pagination justify-content-center">
        <li
          class="page-item"
          th:classappend="${!boardList.hasPrevious} ? 'disabled'"
        >
          <a class="page-link" th:href="@{|?page=1|}">처음</a>
        </li>
        <li
          class="page-item"
          th:classappend="${!boardList.hasPrevious} ? 'disabled'"
        >
          <a class="page-link" th:href="@{|?page=${boardList.number}|}">
            <span>이전</span>
          </a>
        </li>
        <li
          th:each="page: ${#numbers.sequence(1, boardList.totalPages)}"
          th:if="${page >= boardList.number-5 and page <= boardList.number+5}"
          th:classappend="${page == boardList.number + 1} ? 'active'"
          class="page-item"
        >
          <a
            th:text="${page}"
            class="page-link"
            th:href="@{|?page=${page}|}"
          ></a>
        </li>
        <li
          class="page-item"
          th:classappend="${!boardList.hasNext} ? 'disabled'"
        >
          <a class="page-link" th:href="@{|?page=${boardList.number + 2}|}">
            <span>다음</span>
          </a>
        </li>
        <li
          class="page-item"
          th:classappend="${!boardList.hasNext} ? 'disabled'"
        >
          <a class="page-link" th:href="@{|?page=${boardList.totalPages}|}"
            >마지막</a
          >
        </li>
      </ul>
    </div>
    <!-- Paging -->
    <a th:href="@{|/board/${type}/write|}" class="btn btn-success">글쓰기</a>
  </div>
</html>
