<html layout:decorate="~{layout}">
  <div layout:fragment="content" class="container my-3">
    <div class="my-3 border-bottom">
      <div>
        <h4>회원가입</h4>
      </div>
    </div>
    <form
      th:action="@{/member/join}"
      th:object="${memberJoinForm}"
      method="post"
    >
      <div th:replace="~{form_errors :: formErrorsFragment}"></div>
      <div class="mb-3">
        <label for="username" class="form-label">사용자 ID</label>
        <input type="text" th:field="*{username}" class="form-control" />
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">비밀번호</label>
        <input type="password" th:field="*{password}" class="form-control" />
      </div>
      <div class="mb-3">
        <label for="passwordCheck" class="form-label">비밀번호확인</label>
        <input
          type="password"
          th:field="*{passwordCheck}"
          class="form-control"
        />
      </div>
      <div class="mb-3">
        <label for="name" class="form-label">이름</label>
        <input type="text" th:field="*{name}" class="form-control" />
      </div>
      <div class="mb-3">
        <label for="nickname" class="form-label">닉네임</label>
        <input type="text" th:field="*{nickname}" class="form-control" />
      </div>
      <div class="mb-3">
        <label for="gender" class="form-label">성별</label>
        <div class="form-check">
          <label for="genderMale" class="form-check-label">남성</label>
          <input
            type="radio"
            th:field="*{gender}"
            class="form-check-input"
            id="genderMale"
            value="Male"
          />
        </div>
        <div class="form-check">
          <label for="genderFemale" class="form-check-label">여성</label>
          <input
            type="radio"
            th:field="*{gender}"
            class="form-check-input"
            id="genderFemale"
            value="Female"
          />
        </div>
      </div>
      <div class="mb-3">
        <label for="phoneNumber" class="form-label">전화번호</label>
        <input
          type="text"
          th:field="*{phoneNumber}"
          class="form-control"
          placeholder="-를 빼고 입력하세요"
        />
      </div>
      <div class="mb-3">
        <label for="address" class="form-label">주소</label>
        <input type="text" th:field="*{address}" class="form-control" />
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">이메일</label>
        <input
          type="text"
          th:field="*{email}"
          class="form-control"
          placeholder="-를 빼고 입력하세요"
        />
      </div>
      <button type="submit" class="btn btn-primary">회원가입</button>
    </form>
  </div>
</html>
